/lib/
/bin/
/.shards/
*.dwarf
*.swp
*.swo
/cnfs
/cnti
admin.conf
cnti-testsuite
results.yml
cnti-testsuite-results-*
cnti-testsuite.env
cnf-conformance.env
cnti-testsuite*.tar*
*.tar
reasonable_startup_orig.yml
reasonable_startup_test.yml
ephemeral_env 
kubeconfig.conf 
linux-amd64/
reasonable_startup_orig_gobal.yml
reasonable_startup_orig_local.yml
sam.cr
github.env
tmp/
chaos_network_loss.yml
chaos_cpu_hog.yml
chaos_container_kill.yml
/.idea/
*.log
containerd-*-linux-amd64.tar.gz
/cnti-testsuite.yaml
/*.tgz
/enforce-image-tag.yml
/constraint_template.yml
/install.sh
/cilium
/tigera-operator
/disable_cni.yml
/.env
/*.kubeconfig
/*.config
ueransim-gnb/
.icr*
configadm.yml

/helm-*.tar.gz
*sonobuoy*.tar.gz
