/lib/
/bin/
/.shards/
*.dwarf
*.swp
*.swo
/cnfs
/installed_cnf_files
/results
admin.conf
cnf-testsuite
results.yml
cnf-testsuite-results-*
cnf-testsuite.env
cnf-conformance.env
cnf-testsuite*.tar*
*.tar
reasonable_startup_orig.yml
reasonable_startup_test.yml
ephemeral_env 
kubeconfig.conf 
linux-amd64/
reasonable_startup_orig_gobal.yml
reasonable_startup_orig_local.yml
sam.cr
github.env
tmp/
chaos_network_loss.yml
chaos_cpu_hog.yml
chaos_container_kill.yml
/.idea/
*.log
containerd-*-linux-amd64.tar.gz
/cnf-testsuite.yml
/*.tgz
/enforce-image-tag.yml
/constraint_template.yml
/install.sh
/kubescape_results.json
/cilium
/tigera-operator
/disable_cni.yml
/cluster_tools.yml
/fluentd-values.yml
/.env
/*.kubeconfig
/*.config
ueransim-gnb/
gnb-ues-values.yaml
.icr*
configadm.yml
litmus-operator-downloaded.yaml
litmus-operator-modified.yaml

kubescape_C-*_results.json
/fluentbit-values.yml
/fluentd-bitnami-values.yml
/node_failure_values.yml
/reboot_daemon_pod.yml
/helm-*.tar.gz
/capi.yaml
/clusterctl
*sonobuoy*.tar.gz
/downloaded.tar.gz
