apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
  name: <%= @test_name %>
  namespace: <%= @app_namespace %>
spec:
  engineState: "active"
  jobCleanUpPolicy: 'delete'    
  appinfo:
    appns: '<%= @app_namespace %>'
    applabel: '<%= @deployment_label %>=<%= @deployment_label_value %>'
    appkind: "<%= @app_kind %>"
  chaosServiceAccount: <%= @chaos_experiment_name %>-sa
  experiments:
    - name: <%= @chaos_experiment_name %>
      spec:
        components:
          env:
            - name: TARGET_HOSTNAMES
              value: ''

            - name: TOTAL_CHAOS_DURATION
              value: '<%= @total_chaos_duration %>'

            # empty means the pod's first container; the value used to be
            # hard-coded to "coredns", which no other CNF has
            - name: TARGET_CONTAINER
              value: ''

            - name: CONTAINER_RUNTIME
              value: '<%= @container_runtime %>'

            - name: SOCKET_PATH
              value: '<%= @socket_path %>'
