apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
  name: <%= @test_name %>
  namespace: <%= @app_namespace %>
spec:
  engineState: 'active'
  appinfo:
    appns: '<%= @app_namespace %>'
    applabel: '<%= @deployment_label %>=<%= @deployment_label_value %>'
    appkind: '<%= @app_kind %>'
  chaosServiceAccount: <%= @chaos_experiment_name %>-sa
  experiments:
    - name: <%= @chaos_experiment_name %>
      spec:
        components:
          env:
            # set chaos duration (in sec) as desired
            - name: TOTAL_CHAOS_DURATION
              value: '<%= @total_chaos_duration %>'

            ## specify the size as percentage of free space on the file system
            <% if @filesystem_utilization_bytes.empty? %>
            - name: FILESYSTEM_UTILIZATION_PERCENTAGE
              value: '50'
            <% else %>
            - name: FILESYSTEM_UTILIZATION_PERCENTAGE
              value: ''
            - name: FILESYSTEM_UTILIZATION_BYTES
              value: '<%= @filesystem_utilization_bytes %>'
            <% end %>
            - name: TARGET_PODS
              value: '<%= @target_pod_name %>'
            # empty means the pod's first container, which may be read-only
            - name: TARGET_CONTAINER
              value: '<%= @target_container %>'

              ## provide the cluster runtime
            - name: CONTAINER_RUNTIME
              value: '<%= @container_runtime %>'

            # provide the socket file path
            - name: SOCKET_PATH
              value: '<%= @socket_path %>'